.about {
    .about-container {
        max-width: 1200px;
        margin: auto;

        .section-name {
            @include sectionName;
        }

        .card {
            display: flex;

            .image-container {
                width: 50%;
                position: relative;

                img:nth-child(1) {
                    position: absolute;
                    z-index: -1;
                    top: -60px;
                    left: 0px;
                }

                img:nth-child(2) {
                    transform: scale(0.9);
                    margin-left: 160px;
                }
             }

            .text {
                width: 50%;

                h3 {
                    font-size: 26px;
                }

                p {
                    color: #8C939D;
                }
            }

            &:nth-child(2n) {
                flex-direction: row-reverse;

                .image-container img {
                    transform: rotateY(180deg) scale(0.9);
                    left: 80px;
                }
            }
        }
    }
}