.download {
    .download-container {
        width: 1200px;
        margin: auto;
        padding-bottom: 100px;
        display: flex;

        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2 {
                font-size: 42px;
            }

            .app-links {
                display: flex;
                gap: 10px;

                img {
                    width: 180px;
                }
            }
        }

        .right {
            width: 50%;
            position: relative;

            .phone {
                width: 50%;
                position: relative;
                left: 50%;
            }

            .paw {
                position: absolute;
                top: -100px;
                right: -292px;
                z-index: -1;
                transform: scale(0.7);
            }
        }

        @media screen and (max-width: 992px){
            width: 95%;

            .right {
                display: none;
            }

            .left {
                width: 100%;
                text-align: center;
                padding-bottom: 40px;

                .app-links {
                    justify-content: center;
                    
                    a {
                        display: inline-block;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}